@{
	ViewBag.Title = "关于我们";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	本程序专门为研究asp.net,mvc,entity framework等技术的架构,代码优化等而存在.每样技术都要更新到最新版本,每行代码都写到极致.
	<hr />
	@ViewHelper.DisplayRMB(123)
	<a href="https://github.com/suizhikuo/ZUOMANE.COM" target="_blank">源码地址:https://github.com/suizhikuo/ZUOMANE.COM </a>
</p>
