@{
	ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	北京市海淀区<br />
	中关村北大街, 邮编 100081<br />
	<abbr title="Phone">站长QQ:</abbr>
	471226865
</address>

<address>
	<strong>技术支持:</strong><a href="mailto:suizhikuo@126.com">suizhikuo@126.com</a><br />
	<strong>安装配置:</strong><a href="mailto:suizhikuo@126.com">suizhikuo@126.com</a>
</address>