@{
	ViewBag.Title = "首页";
}

<div class="jumbotron">
	<h1>做嘛呢 - zuomane.com</h1>
	<p class="lead">主要技术:ASP.NET, HTML, CSS and JavaScript.</p>
	<p><a href="/Home/Contact" class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>提供</h2>
		<p>
			提供论坛,博客,微博,企业展示程序,软件,网站.
		</p>
		<p><a class="btn btn-default" href="/Home/Contact">了解更多 &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>订制</h2>
		<p>提供程序的订制开发,个性化处理.</p>
		<p><a class="btn btn-default" href="/Home/Contact">了解更多 &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>服务器</h2>
		<p>提供服务器的安装,配置,维护工作.</p>
		<p><a class="btn btn-default" href="/Home/Contact">了解更多 &raquo;</a></p>
	</div>
</div>